[package]
name = "storm"
version = "0.0.2"
authors = ["Joe Cumbo <mooman219@gmail.com>"]

[dependencies]
gl = "0.12"
glutin = "0.20"
cgmath = "0.17"
log = "0.4"
image = "0.19"
parking_lot = "0.7"
hashbrown = "0.2"
rusttype = "0.7"
unicode-normalization = "0.1.8"